NEXTAUTH_URL=http://localhost:3001

AUTH_MICROSOFT_ENTRA_ID_ID=client-id-do-app-registration
AUTH_MICROSOFT_ENTRA_ID_SECRET=client-secret-app-registration
AUTH_MICROSOFT_ENTRA_ID_ISSUER=issuer-do-token

BETTER_AUTH_SECRET=next-auth-secret-hash-seguro
